body{
    background-color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode'; 
    font-size: medium;
    color: #000000;
    margin: 0px;
    padding: 0px;
}

a:link{
    color: #0000ff;
    text-decoration: none;
}
a:hover{
    color: #ff0000;
    text-decoration: none;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #000000;
  }
  
  tr:hover {
    background-color: rgba(255, 251, 0, 0.952);
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
  }